## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "framework, nativecore, modular, development"

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
set sv_enforceGameBuild 3258
set mysql_connection_string "{{dbConnectionString}}"

# Chat config
set resources_useSystemChat true

# NativeCore config
setr nativecore:locale "pt-BR"
set nativecore:acknowledge "false"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# NativeCore Framework
ensure [nativecore]

# NC Tests (Development only)
ensure [nc-tests]

## Permissions ##
{{addPrincipalsMaster}}
exec permissions.cfg

## Miscellaneous ##
exec misc.cfg
